<p><%= @user.username %>,</p>

<p>Your almost there! Just click the link below to confirm your email!</p>

<%= link_to root_url + "users/#{@user.id}/confirm/#{@user.confirmation_code}", root_url + "users/#{@user.id}/confirm/#{@user.confirmation_code}" %> 

<p>Happy Ranking!</p>
