<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>What's hot at your school?</h1>
      <p>Image Ranker makes it easy for you to find out. Add your favorite images and vote on others. What will be on your school's board?</p>
      <p>
        <a class="btn btn-primary btn-large">
          Sign up
        </a>
      </p>
    </div>  
  </div>
</div>
