// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {

}

.image {
	display: inline-block;
  width: 250px;
	text-align: center;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
}

.field {
  padding-bottom: 10px;
  padding-top: 10px;
}
.pages {
  margin-top: 20px;
  margin-right: 90px;
  float: right;
}
.add_image {
  display: inline;
}
.sort {
  display:inline;
  margin-left: 50px;
}