<h1>Add an Image</h1>
<%= form_for @image do |f| %>
	<% if @image.errors.any? %>
	  <div class="alert alert-error">
	    <h2>Oops.</h2>
	    <ul>
	      <% @image.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class="field">
	    <%= f.text_field :image_url, :id => "image_url" , :class => 'input-xlarge', :placeholder => 'Image link (.jpg/.gif/.png)'%>
	</div>
    <div class="actions"><%= f.submit "Submit", :id => "submit", :class => "btn" %></div>
<% end %>

<p> If you have an image you need to upload, use <a href="http://postimg.org/">http://postimg.org/</a> and copy and paste the direct link in the box above!</p>  